@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;

  --color-bg: #050505;
  --color-bg-elevated: #0b0b0b;
  --color-bg-card: #101010;
  --color-bg-card-hover: #151515;
  --color-line: #242424;
  --color-line-strong: #333333;
  --color-text: #f5f5f5;
  --color-muted: #a3a3a3;
  --color-soft: #737373;
  --color-chip: #171717;
  --color-chip-border: #2a2a2a;
}

